body {
    background-color: rgb(49, 0, 0);
    color: ghostwhite;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: goldenrod;
}

h1 {
    color: crimson;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 100px;
}

.skills {
    background-color: rgb(149, 110, 12);
    padding: 10px 30px;
    border: 6px ridge goldenrod;
}

.skills a {
    color: fuchsia;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: rgb(125, 4, 48);
    width: 30%;
    padding: 30px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    border: 8px inset rgb(153, 51, 80);
    
}

.projects img {
    width: 100%;
}

.contact {
    background-color: darkslategray;
    border-radius: 30px;
    padding: 10px 30px;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.about img {
    width: 180px;
    border-radius: 25%;
    border: 2px solid azure;
}