body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 200px;
}

.about {
    background-color: salmon;
}

.skills {
    background-color: slateblue;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: greenyellow;
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
}

.projects img {
    width: 100%;
}

.contact {
    background-color: aquamarine;
}